# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.FGAI.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\teot\Desktop\Projects\Unreal\FGAI\.idea\.idea.FGAI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
